<!DOCTYPE html>
<html>
<head>
  <title>Imprint</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
		<nav class="navbar-inner">
			<nav class="container">
				<a href="#" class="brand"> Imprint </a>
			</nav>
		</nav>
		</div>
	</nav>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
